<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>To-Do List: About</title>
    <%- include('link'); %>
</head>
<body>
    <%- include('navigation'); %>
    <header class="ms-Grid-row">
        <h1 class="ms-Grid-col ms-sm12">About</h1>
    </header>
    <p>This To-Do List app was created by Balthazar B.K. in 2020.</p>
    <hr />
    <%- include('footer'); %>

</body>
</html>