<div class="ms-Grid" dir="ltr">
        <nav class="ms-Grid-row" id="first-row">
            <a href="/" class="ms-Grid-col ms-sm3"><i class="ms-Icon ms-Icon--Home" aria-hidden="true"></i></a>
            <a href="/archive" class="ms-Grid-col ms-sm3"><i class="ms-Icon ms-Icon--Archive" aria-hidden="true"></i></a>
            <a href="/deletetodo" class="ms-Grid-col ms-sm3"><i class="ms-Icon ms-Icon--Delete" aria-hidden="true"></i></a>
            <a href="/about" class="ms-Grid-col ms-sm3"><i class="ms-Icon ms-Icon--Info" aria-hidden="true"></i></a>
        </nav>